<h2>Editing gallery</h2>

<% form_for(@gallery, :url => admin_site_gallery_path(@site, @gallery)) do |f| %>
  <div class="record_fields">
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :display_in_index %><br />
      <%= f.check_box :display_in_index %>
    </p>
    <p>
      <%= f.label :mark_as_new %><br />
      <%= f.check_box :mark_as_new %>
    </p>
    
    <% slots = @gallery.attachment_slots_with_empty -%>
    <% if slots.size > 0 -%>
      <h3>Attachments</h3>
      <% for slot in slots -%>
	<p>
	  <b><%= f.label "attachment_slots_#{slot.name}_attachment_id", slot.name.humanize -%></b><br />
	  <%= hidden_field_tag "gallery[attachment_slots][#{slot.name}][attachment_type]", "Asset" -%>
	  <%= select_tag("gallery[attachment_slots][#{slot.name}][attachment_id]",
			 options_for_select([['', nil]] + @site.assets.find(:all).map{|a| ["#{a.label} [#{a.file_name}]", a.id]},
					    slot.attachment && slot.attachment.id
					    )) -%>

	  <!-- TODO replace to ajax invocation which display preety table with
	       different attachment types
	  <div id="gallery_attachment_slots_<%= slot.name -%>_slector"
	       class="attachment_selector">
	    <div id="gallery_attachment_slots_<%= slot.name -%>_container">
	      <%= render :partial => 'admin/attachment_slot', :object => slot -%>
	    </div>
	    <%= link_to 'Change', '#', :html => {:class => "action"} -%>
	  </div>
          -->
	</p>
      <% end -%>
    <% end -%>

    <p>
      <%= f.submit "Update" %>
    </p>
  </div>
<% end %>

<hr />

<div class="page_actions">
  <%= link_to 'Back to galleries list', admin_site_galleries_path(@site) %>
</div>
