<h2>Editing gallery</h2>

<% form_for(@gallery, :url => admin_site_gallery_path(@site, @gallery)) do |f| %>
  <div class="record_fields">
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :display_in_index %><br />
      <%= f.check_box :display_in_index %>
    </p>
    <p>
      <%= f.label :mark_as_new %><br />
      <%= f.check_box :mark_as_new %>
    </p>
    <p>
      <%= f.submit "Update" %>
    </p>
  </div>
<% end %>

<hr />

<div class="page_actions">
  <%= link_to 'Back to galleries list', admin_site_galleries_path(@site) %>
</div>
