<h2>Listing galleries in <%= @site.name -%> site</h2>

<table class="listing">
  
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Disp. in index</th>
      <th>Mark as new</th>
    </tr>
  </thead>

  <tbody>
    <% for gallery in @galleries %>
      <tr>
	<td><%=h gallery.name %></td>
	<td><%=h gallery.title %></td>
	<td><%=h gallery.display_in_index ? 'Yes' : 'No' -%></td>
	<td><%=h gallery.mark_as_new ? 'Yes' : 'No' -%></td>
	<td class="actions">
	  <%= link_to 'Show', admin_site_gallery_path(@site, gallery) %> | 
	  <%= link_to 'Edit', edit_admin_site_gallery_path(@site, gallery) %> |
	  <%= link_to 'Destroy', admin_site_gallery_path(@site, gallery), :confirm => 'Are you sure?', :method => :delete %>
	</td>
      </tr>
    <% end %>
  </tbody>

</table>

<hr />

<div class="page_actions">
  <%= link_to 'New gallery', new_admin_site_gallery_path(@site) %> | 
  <%= link_to 'Back to site', admin_site_path(@site) -%>
</div>
