<h2>Gallery details</h2>

<div class="record_fields">
  <p>
    <b>Name</b><br />
    <%=h @gallery.name %>
  </p>

  <p>
    <b>Title</b><br />
    <%=h @gallery.title %>
  </p>

  <p>
    <b>Display in index</b><br />
    <%=h @gallery.display_in_index ? 'Yes' : 'No' -%>
  </p>

  <p>
    <b>Mark as new</b><br />
    <%=h @gallery.display_in_index ? 'Yes' : 'No' -%>
  </p>

</div>

<hr />

<div class="page_actions">
  <%= link_to 'Edit', edit_admin_site_gallery_path(@site, @gallery) %> |
  <%= link_to 'Back to galleries list', admin_site_galleries_path(@site) %>
</div>
