<h2>Gallery details</h2>

<div class="record_fields">
  <p>
    <b>Browser name (used in links)</b><br />
    <%=h @gallery.name %>
  </p>

  <p>
    <b>Title</b><br />
    <%=h @gallery.title %>
  </p>

  <% if @site.has_menu? 'galleries' -%>
    <p>
      <b>Display in galleries menu</b><br />
      <%=h @gallery.display_in_default_menu ? 'Yes' : 'No' -%>
    </p>
    
    <p>
      <b>Label in galleries menu</b><br />
      <%=h @gallery.default_menu_label_or_title -%>
    </p>
  <% end -%>

  <% if @site.name == 'polinostudio' -%>
    <p>
      <b>Mark as new</b><br />
      <%=h @gallery.mark_as_new ? 'Yes' : 'No' -%>
    </p>
  <% end -%>

  <% slots = @gallery.attachment_slots_with_empty -%>
  <% if slots.size > 0 -%>
    <h3>Attachments</h3>
    <% for slot in slots -%>
      <p>
	<b><%= slot.name.humanize -%></b><br />
	<%= render :partial => 'admin/attachment_slot', :object => slot-%>
      </p>
    <% end -%>
  <% end -%>
  
</div>

<hr />

<div class="page_actions">
  <%= link_to 'Edit', edit_admin_site_gallery_path(@site, @gallery) %> |
  <%= link_to 'Back to galleries list', admin_site_galleries_path(@site) %>
</div>
