<% if @asset.mime_major == 'image' -%>
  <%= asset_image_tag @asset,
      :size => '600x', :style => "float:right; margin: 10px;"
      -%>
<% end -%>

<h2>Editing asset file info</h2>

<% form_for(@asset, :url => admin_site_asset_path(@site, @asset)) do |f| %>
  <div class="record_fields">
    <%= f.error_messages %>
    
    <p>
      <b>File name</b><br>
      <%= @asset.file_name -%>
    </p>

    <p>
      <b>File type</b><br>
      <%= @asset.mime_type -%>
    </p>

    <p>
      <%= f.label :label %><br />
      <%= f.text_field :label, :size => 46 %>
    </p>

    <% if @asset.mime_major == 'image' -%>
      <p>
	<%= f.label :image_alt, "Image alternate text" %><br />
	<%= f.text_field :image_alt, :size => 46 %>
      </p>
    <% end -%>

    <p>
      <%= f.submit "Update" %>
    </p>
  </div>

<% end %>

<br style="clear: both;"/>
<hr />

<div class="page_actions">
  <%= link_to 'Show', admin_site_asset_path(@site, @asset) %> |
  <%= link_to 'Back to assets list', admin_site_assets_path(@site) %>
</div>
