<h2>Editing photo keyword</h2>

<% form_for(@photo_keyword, :url => admin_site_photo_keyword_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', admin_site_photo_keyword_path %> |
<%= link_to 'Back', admin_site_photo_keywords_path %>
