<h2>Listing attachments in <%= @site.name -%></h2>

<table class="listing">

  <thead>
    <tr>
      <th>Preview</th>
      <th>File name</th>
      <th>File type</th>
      <th>Label</th>
    </tr>
  </thead>

  <tbody>
    <% for attachment in @attachments %>
      <tr>
	<td>
	  <% if attachment.mime_major == 'image' -%>
	    <%= attachment_image_tag attachment, :size => 'x32' -%>
	  <% end -%>
	</td>
	<td><%=h attachment.file_name %></td>
	<td><%=h attachment.mime_type %></td>
	<td><%=h attachment.label %></td>
	<td class="actions">
	  <%= link_to 'Show', admin_site_attachment_path(@site, attachment) %> |
	  <%= link_to 'Edit', edit_admin_site_attachment_path(@site, attachment) %> |
	  <%= link_to 'Destroy', admin_site_attachment_path(@site, attachment), :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
  
</table>

<hr />

<div class="page_actions">
  <%= link_to 'New attachment', new_admin_site_attachment_path(@site) %> |
  <%= link_to 'Back to site', admin_site_path(@site) -%>
</div>
