<% if @attachment.mime_major == 'image' -%>
  <%= attachment_image_tag @attachment,
      :size => '600x', :style => "float:right; margin: 10px;"
      -%>
<% end -%>


<h2> Attachment details </h2>

<div class="record_fields">
  
  <p>
    <b>File name</b><br />
    <%=h @attachment.file_name %>
  </p>

  <p>
    <b>File type</b><br />
    <%=h @attachment.mime_type %>
  </p>

  <p>
    <b>File size</b><br />
    <%=h @attachment.size %>
  </p>

  <p>
    <b>Label</b><br />
    <%=h @attachment.label %>
  </p>

  <% if @attachment.mime_major == 'image' -%>
    <p>
      <b>Image width</b><br />
      <%=h @attachment.image_width %>
    </p>

    <p>
      <b>Image height</b><br />
      <%=h @attachment.image_height %>
    </p>

    <p>
      <b>Image alternate text</b><br />
      <%=h @attachment.image_height %>
    </p>
  <% end -%>
  
</div>

<br style="clear: both;"/>
<hr/>

<div class="page_actions">
  <%= link_to 'Edit', edit_admin_site_attachment_path(@site, @attachment) %> |
  <%= link_to 'Back to attachments list', admin_site_attachments_path(@site) %>
</div>
