<ul id="gallery_menu" class="controlls_menu">
  <li>
    <% label_asset = @gallery.get_attachment('menu_label') -%>
    <% if label_asset -%>
      <%= asset_image_tag label_asset, :backup_alt => @gallery.default_menu_label_or_title %>
    <% else -%>
      <%= @gallery.title.upcase %>
    <% end -%>
  </li>
</ul>

<ul id="gallery_actions" class="controlls_menu right">
  <% menu = @site.get_menu('galleries') -%>
  <li>
    <% previous = menu.previous_menu_item(@gallery) || menu.menu_items[-1] -%>
    <% link_to show_site_gallery_path(@site, previous.target) do %>
      <%= image_tag 'menu_label_previous_en.png', :alt => 'PREVIOUS', :size => '75x27' %>
    <% end -%>
  </li>
  <li>
    <% next_ = @site.get_menu('galleries').next_menu_item(@gallery) || menu.menu_items[0] -%>
    <% link_to show_site_gallery_path(@site, next_.target) do %>
      <%= image_tag 'menu_label_next_en.png', :alt => 'NEXT', :size => '40x27' %>
    <% end -%>
  </li>
  <li>
    <% link_to show_site_galleries_path(@site) do %>
      <%= image_tag 'menu_label_back_en.png', :alt => 'BACK', :size => '41x27' %>
    <% end -%>
  </li>
</ul>
