<h2>Select photos to include in <%= @site.name -%></h2>

<% form_tag add_externals_admin_site_photos_path(@site) do -%>
  <table class="listing">

    <thead>
      <tr>
	<th><abbr title="Select">S.</abbr></th>
	<th>Preview</th>
	<th>File name</th>
	<th>Site</th>
	<th>Title</th>
      </tr>
    </thead>
    
    <tbody>
      <% for photo in @photos %>
	<tr>
	  <td>
	    <%= check_box_tag "ids[]", photo.id, false, :id => "photo_id_#{photo.id}" -%>
	  </td>
	  <td>
	    <label for="photo_id_<%=h photo.id -%>">
	      <%= photo_image_tag photo, :size => 'x32', :alt => photo.title -%>
	    </label>
	  </td>
	  <td>
	    <label for="photo_id_<%=h photo.id -%>">
	      <%=h photo.file_name %>
	    </label>
	  </td>
	  <td>
	    <label for="photo_id_<%=h photo.id -%>">
	      <%=h photo.site.name %>
	    </label>
	  </td>
	  <td>
	    <label for="photo_id_<%=h photo.id -%>">
	      <%=h photo.title %>
	    </label>
	  </td>
	</tr>
      <% end %>
    </tbody>
    
  </table>
  
  <%= submit_tag "Include" -%>
<% end -%>

<hr />

<div class="page_actions">
  <%= link_to 'Back to site', admin_site_photos_path(@site) -%>
</div>
