<h2>Listing photos in <%= @site.name -%></h2>

<table class="listing">

  <thead>
    <tr>
      <th>Preview</th>
      <th>File name</th>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% for photo in @photos %>
      <tr>
	<td><%= image_tag compute_photo_thumbnail_path(32, photo), 
		:style => 'height: 32px',
		:alt => photo.title -%></td>
	<td><%=h photo.file_name %></td>
	<td><%=h photo.title %></td>
	<td class="actions">
	  <%= link_to 'Show', admin_site_photo_path(@site, photo) %> |
	  <%= link_to 'Edit', edit_admin_site_photo_path(@site, photo) %> |
	  <%= link_to 'Destroy', admin_site_photo_path(@site, photo), :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
  
</table>

<hr />

<div class="page_actions">
  <%= link_to 'New photo', new_admin_site_photo_path(@site) %> |
  <%= link_to 'Back to site', admin_site_path(@site) -%>
</div>
