<h2>Listing photos in <%= @site.name -%></h2>

<table class="listing">

  <thead>
    <tr>
      <th>Preview</th>
      <th>File name</th>
      <th>Title</th>
      <th>State</th>
    </tr>
  </thead>

  <tbody>
    <% for photo in @photos %>
      <tr>
	<td><%= photo_image_tag photo, :size => 'x32', :alt => photo.title -%></td>
	<td><%=h photo.file_name %></td>
	<td><%=h photo.title %></td>
	<td>
	  <% if photo.site_id != @site.id -%>
	    Included from
	    <%= link_to photo.site.name, admin_site_path(photo.site) -%>
	  <% end -%>
	</td>
	<td class="actions">
	  <% if photo.site_id == @site.id -%>
	    <%= link_to 'Show', admin_site_photo_path(@site, photo) %> |
	    <%= link_to 'Edit', edit_admin_site_photo_path(@site, photo) %> |
	    <%= link_to 'Destroy', admin_site_photo_path(@site, photo), :confirm => 'Are you sure?', :method => :delete %>
	  <% else -%>
	    <%= link_to 'Exclude', remove_external_admin_site_photo_path(@site, photo), :confirm => 'Are you sure?', :method => :delete %>
	  <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
  
</table>

<hr />

<div class="page_actions">
  <%= link_to 'New photo', new_admin_site_photo_path(@site) %> |
  <%= link_to 'Include from other site', include_admin_site_photos_path(@site) %> |
  <%= link_to 'Back to site', admin_site_path(@site) -%>
</div>
