<%= photo_image_tag @photo,
    :alt => @photo.title ,
    :style => "float:right; margin: 10px;"
    -%>

<h2> Photo details </h2>

<div class="record_fields">
  
  <p>
    <b>File name</b><br />
    <%=h @photo.file_name %>
  </p>

  <p>
    <b>File type</b><br />
    <%=h @photo.mime_type %>
  </p>

  <p>
    <b>Width</b><br />
    <%=h @photo.image_width %>
  </p>

  <p>
    <b>Height</b><br />
    <%=h @photo.image_height %>
  </p>

  <p>
    <b>Title</b><br />
    <%=h @photo.title %>
  </p>
  
  <p>
    <b>Description</b><br />
    <%=h @photo.description %>
  </p>

  <p>
    <b>Keywords</b><br />
    <%=h @photo.photo_keywords.map{|k| k.name}.join(', ') %>
  </p>

  <p>
    <b>Participants</b>
    <ul>
      <% for participant in @photo.photo_participants -%>
	<li><b><%= participant.role -%></b>: <%= participant.name -%></li>
      <% end -%>
    </ul>
  </p>

</div>

<br style="clear: both;"/>
<hr/>

<div class="page_actions">
  <%= link_to 'Edit', edit_admin_site_photo_path(@site, @photo) %> |
  <%= link_to 'Back to photos list', admin_site_photos_path(@site) %>
</div>
