<div id="topic">

  <div id="topic_header">
    <% if @photo.title -%>
      <h2 class="photo_title"><%= @photo.title -%></h2>
    <% end -%>
    <div id="close_button">
      <%= link_to( image_tag( 'x.png', :size => '12x11', :alt => 'X' ), 
		   site_default_path(@site),
		   :title => 'back',
		   :onClick => 'return(go_back());')
	  -%>
    </div>
  </div>

  <div id="photo_box" style="width: <%= @photo.image_width -%>px;">
    <%= photo_image_tag(@photo)	-%>

    <table class="photo_description">

      <% for participant in @photo.photo_participants -%>
	<tr>
	  <td class="participant_role"><%=h participant.role -%></td>
	  <td class="participant_name"><%=h participant.name -%></td>
	</tr>
      <% end -%>

      <% if @photo.description -%>
	<tr><td colspan="2" class="description"><%=h @photo.description -%></td></tr>
      <% end -%>

    </table>
  </div>
  
</div>
