<%= load_tinymce_tag-%> 


<h2>Editing topic</h2>

<% form_for(@topic, :url => admin_site_topic_path(@site, @topic)) do |f| %>
  <div class="record_fields">
    <%= f.error_messages %>

    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>

    <% if @site.has_menu? 'topics' -%>
      <%= render(:partial => 'admin/menu/edit_default_menu_for_target',
		 :locals => {
		   :form => f,
		   :target => @topic
		}
		) -%>
    <% end -%>

    <p>
      <%= f.label :body %>
      <%= f.text_area :body, :cols => 110, :rows => 25 %>
    </p>
    <p>
      <%= f.submit "Update" %>
    </p>
  </div>
<% end %>

<hr />

<div class="page_actions">
  <%= link_to 'Show', admin_site_topic_path(@site, @topic) %> |
  <%= link_to 'Back to topics list', admin_site_topics_path(@site) %>
</div>
