<h2>Listing topics in <%= @site.name -%> site</h2>

<table class="listing">
  <thead>
    <tr>
      <th>Title</th>
      <% if @site.has_menu? 'topics' -%>
	<th>In topics menu?</th>
      <% end -%>
    </tr>
  </thead>

  <tbody>
    <% for topic in @topics %>
      <tr>
	<td><%=h topic.title %></td>
	<% if @site.has_menu? 'topics' -%>
	  <td><%=h topic.display_in_default_menu ? 'Yes' : 'No' %></td>
	<% end -%>
	<td class="actions">
	  <%= link_to 'Show', admin_site_topic_path(@site, topic) %> |
	  <%= link_to 'Edit', edit_admin_site_topic_path(@site, topic) %> |
	  <%= link_to 'Destroy', admin_site_topic_path(@site, topic), :confirm => 'Are you sure?', :method => :delete %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<div class="page_actions">
  <%= link_to 'New topic', new_admin_site_topic_path(@site) %> |
  <%= link_to 'Back to site', admin_site_path(@site) -%>
</div>
