<h2>New topic for <%= @site.name -%> site</h2>

<% form_for(@topic, :url => admin_site_topics_path(@site)) do |f| %>
  <div class="record_fields">
    <%= f.error_messages %>
    
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>
    <% if @site.has_menu? 'topics' -%>
      <%= render(:partial => 'admin/menu/edit_default_menu_for_target',
		:locals => {
		  :form => f,
		  :target => @topic
		}
		) -%>
    <% end -%>
    <p>
      <%= f.label :body %><br />
      <%= f.text_area :body, :cols => 110, :rows => 25 %>
    </p>
    <p>
      <%= f.submit "Create" %>
    </p>
  </div>
<% end %>

<hr />

<div class="page_actions">
  <%= link_to 'Back to topics list', admin_site_topics_path(@site) %>
</div>
