<h2>Article preview</h2>

<div class="record_fields">

  <p>
    <b>Name</b> <it>(Used in topic links)</it><br />
    <%=h @topic.name %>
  </p>


  <p>
    <b>Title</b><br />
    <%=h @topic.title %>
  </p>
  
  <p>
    <b>Display in menu</b><br />
    <%=h @topic.display_in_menu ? 'Yes' : 'No' %>
  </p>
</div>

<p><b>Body preview</b></p>

<hr />

<div class="topic_body" style="margin: 25px;">
  <%= @topic.body %>
</div>

<hr />

<div class="page_actions">
  <%= link_to 'Edit', edit_admin_site_topic_path(@site, @topic) %> |
  <%= link_to 'Back', admin_site_topics_path(@site) %>
</div>
