<p>
  <b>Title:</b>
  <%=h @topic.title %>
</p>

<p>
  <b>Display in menu:</b>
  <%=h @topic.display_in_menu ? 'Yes' : 'No' %>
</p>

<p>
  <b>Body:</b>
  <%=h @topic.body %>
</p>


<%= link_to 'Edit', edit_admin_site_topic_path(@site, @topic) %> |
<%= link_to 'Back', admin_site_topics_path(@site) %>
