<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Polino Studio <%=h brand_name(@site) -%></title>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= stylesheet_link_tag('default', :media => "all") -%>
    <%= stylesheet_link_tag('screen', :media => "screen") -%>
  </head>
  <body>

    <div id="loader" style="display:none;">
      <div id="loader-slides"></div>
      <div id="loader-labels">
        <div class="toplevelbox">
	  <h1>
	    Polino Studio
	  </h1>	    
	</div>
	<p>
	  <span>Loading ...</span>
	  <a href="javascript:false" title="Go to gallery">Skip intro</a>
	</p>
      </div>
    </div>

    <%= loader_with_intro({ :scripts => [
					'jquery-ui-custom-1.8.min',
					'reflection',
                                        'gallery',
					'application'
				       ],
			    :images => intro_images_paths(@site)
                          }) -%>

    <div id="header" class="toplevelbox">
      <h1>Polino Studio <span class="brand"><%=h brand_name(@site) -%></span></h1>
    </div>

    <div id="content" class="toplevelbox">      
      <div id="content-inner"></div>
    </div>

    <div id="footer" class="toplevelbox">
      <p>&copy; Polino Studio - All rights reserved.</p>
    </div>

  </body>
</html>
