<div id="gallery">

  <ul id="galleries-menu">
    <% for menu_item in @site.get_menu('galleries').menu_items -%>
      <li<%= (menu_item.target.id == @gallery.id) ? ' class="active"' : '' -%>>
	<% link_to(show_site_gallery_path(@site, menu_item.target),
		   { :title => menu_item.target.title }) do -%>
	  <%= menu_item.label_or_target_title -%>
	  <% if menu_item.target.mark_as_new -%>
	    <span class="new-mark">N</span>
	  <% end -%>
	<% end -%>
      </li>
    <% end -%>
  </ul>

  <ul id="breadcrumbs">
    <li><a href="#">Photos</a><span class="separator">&nbsp;&gt;</class></li>
    <li><a href="#">Bio</a><span class="separator">&nbsp;&gt;</class></li>
    <li><a href="#">Videos</a></li>
  </ul>

  <div id="gallery-photos-viewport">
    <p id="gallery-photos" style="width: <%= total_gallery_items_width(@gallery) -%>px;">
      <span class="initial-separator">&nbsp;</span>
      <% for item in @gallery.gallery_items -%>
	<% if item.is_a? GalleryPhoto -%>
	  <span class="photo">
	    <%= link_to( photo_image_tag(item.photo, :size => 'x400'),
			 show_site_photo_path( @site, item.photo ),
			 { :title => item.photo.alt_text })
		-%>
	  </span>
	<% elsif item.is_a? GallerySeparator -%>
	  <span class="separator">&nbsp;</span>
	<% end -%>
      <% end -%>
      <span class="final-separator">&nbsp;</span>
    </p>
  </div>

  <div id="gallery-controls">
    <button id="gallery-play-button"></button>
  </div>

  <%= render 'site/polinogroup/common/partials/topics_menu' -%>

</div>
