<h1>Listing photo participants for <%= @photo.file_name -%></h1>

<table>
  <tr>
    <th>Role</th>
    <th>Name</th>
  </tr>

<% for photo_participant in @photo_participants %>
  <tr>
    <td><%=h photo_participant.role %></td>
    <td><%=h photo_participant.name %></td>
    <td><%= link_to 'Show', admin_site_photo_participant_path(@site, @photo, photo_participant) %></td>
    <td><%= link_to 'Edit', edit_admin_site_photo_participant_path(@site, @photo, photo_participant) %></td>
    <td><%= link_to 'Destroy', admin_site_photo_participant_path(@site, @photo, photo_participant), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New photo_participant', new_admin_site_photo_participant_path %> |
<%= link_to 'Back', admin_site_photos_path -%>



