<h2>Change Password</h2>

<% form_for @user, :url => admin_user_path(@user) do |f| %>
  <div class="record_fields">
    <%= f.error_messages %>
    <%= hidden_field_tag 'user_update_action', 'change_password' -%>

    <p>
      <%= f.label :login %><br />
      <%= @user.login -%>
    </p>

    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </p>

    <p>
      <%= f.submit "Update" %>
    </p>
  </div>
<% end %>

<hr />

<div class="page_actions">
  <%= link_to 'Back to user details', admin_user_path(@user) %>
</div>
