<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Polino Studio</title>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <!-- <meta name="Keywords" content="" /> -->
    <!-- <meta name="Description" content="" /> -->

    <%= stylesheet_link_tag('default', :media => "all") -%>
    <%= stylesheet_link_tag('screen', :media => "screen") -%>

    <!--[if gte IE 7]>
      <%= stylesheet_link_tag 'ie7fix' %>
    <![endif]-->
    <!--[if lte IE 6]>
      <%= stylesheet_link_tag 'ie6fix' %>
    <![endif]-->
    <script type="text/javascript" src="http://use.typekit.com/oii4ufp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

    <div id="loader">
    </div>
    <%= javascript_include_tag(
      'jquery-1.4.2.min',
      'loader')
    -%>
    
    <div id="header">
      <h1>Polino Studio <span class="brand"><%=h brand_name(@site) -%></span></h1>
    </div>

    <div id="content">
      <%= yield %>
      <div id="content-frame"></div>
    </div>

    <div id="footer">
      <p>&copy; Polino Studio - All rights reserved.</p>
    </div>

    <%= javascript_include_tag(
      'jquery-1.4.2.min',
      'jquery-ui-custom-1.8.min',
      'reflection',
      'application')
    -%>

  </body>
</html>
