<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Polino Studio</title>

    <!-- TODO: add checks, to exclude simple or old browsers, which will not
         support ajax loaded content fully -->
    <% javascript_tag do -%>
      window.location = "<%= load_site_path(@site) -%>#" + window.location.pathname.replace(/\.html$/, '');
    <% end -%>
    
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <!-- <meta name="Keywords" content="" /> -->
    <!-- <meta name="Description" content="" /> -->

    <%= stylesheet_link_tag('default', :media => "all") -%>
    <%= stylesheet_link_tag('screen', :media => "screen") -%>

    <!--[if gte IE 7]>
      <%= stylesheet_link_tag 'ie7fix' %>
    <![endif]-->
    <!--[if lte IE 6]>
      <%= stylesheet_link_tag 'ie6fix' %>
    <![endif]-->

    
    <%= javascript_include_tag('jquery-1.4.2.min','jquery-ui-custom-1.8.min', 'reflection', 'application') -%>
  </head>

  <body>

    <div id="header" class="toplevelbox">
      <h1>Polino Studio <span class="brand"><%=h brand_name(@site) -%></span></h1>
    </div>

    <div id="content" class="toplevelbox">
      <div id="content-inner">
        <%= yield %>
      </div>
      <div id="content-frame"></div>
    </div>

    <div id="footer" class="toplevelbox">
      <p>&copy; Polino Studio - All rights reserved.</p>
    </div>

  </body>
</html>
