<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Polino Studio <%=h brand_name(@site) -%></title>

    <%= loader_redirect @site, my_path_relative_to_loader(:format => 'parthtml') -%>
    
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <%= stylesheet_link_tag('default', :media => "all") -%>
    <%= stylesheet_link_tag('screen', :media => "screen") -%>

    <% if false -%>
    <!--[if gte IE 7]>
      <%= stylesheet_link_tag 'ie7fix' -%>
    <![endif]-->
    <!--[if lte IE 6]>
      <%= stylesheet_link_tag 'ie6fix' -%>
    <![endif]-->
    <% end -%>

    <%= javascript_include_tag(
          'jquery-1.4.2.min',
          'jquery-ui-custom-1.8.min',
          'reflection',
          'gallery',
          'application')
     -%>
    <script type="text/javascript" src="http://use.typekit.com/oii4ufp.js"></script>
    <script type="text/javascript">
      try{Typekit.load();}catch(e){};
    </script>

    <%-# <meta name="Keywords" content="" /> -%>
    <%-# <meta name="Description" content="" /> -%>
  </head>
  <body>

    <div id="header" class="toplevelbox">
      <h1>Polino Studio <span class="brand"><%=h brand_name(@site) -%></span></h1>
    </div>

    <div id="content-wrapper" class="toplevelbox">
      <div id="content">
        <div id="content-inner">
	  <%= yield %>
	</div>
      </div>
      <div class="corner-tl"></div>
      <div class="corner-tr"></div>
      <div class="corner-bl"></div>
      <div class="corner-br"></div>
      <%- image_path('contentcorners.png') # Force include image, when publishing -%>
    </div>
    
    <div id="footer" class="toplevelbox">
      <p>&copy; Polino Studio - All rights reserved.</p>
    </div>

  </body>
</html>
