<% if gallery.photos.size == 0 -%>
  <td id="<%= "gallery_#{gallery.id}_dropbox" -%>" class="empty_box">
    Please drag photos here..
  </td>
  <%= drop_receiving_element "gallery_#{gallery.id}_dropbox",
      :accept => 'draggable_photo',
      :update => "gallery_#{gallery.id}_photos_list",
      :url => {:action => 'layout_add_gallery_photo', :id => @site, :gallery_id => gallery},
      :with => "'photo_id=' + encodeURIComponent(element.id)",
      :loading => "Element.update('gallery_#{gallery.id}_photos_list', 'a<td style=\"width: 100px;\">#{loading_tag}</td>')",
      :hoverclass => 'hover'
      -%>
  
<% else -%>

  <% index = 0 -%>
  <% for item in gallery.gallery_items -%>
    <td>
      <div class="item_box">
	<div id="<%= "item_#{item.id}_droppable_left" -%>"
	     class="item_droppable_left"></div>
	<% if index == 0 -%>
	  <%= drop_receiving_element "item_#{item.id}_droppable_left",
	      :accept => 'draggable_photo',
	      :hoverclass => 'hover',
	      :scroll => "'content_scrollframe'",
	      :url => {:action => 'layout_add_gallery_photo', :id => @site, :gallery_id => gallery, :position => index, :format => :js},
	      :with => "'photo_id=' + encodeURIComponent(element.id)",
	      :loading => "Element.update('gallery_#{gallery.id}_photos_list', '<td style=\"width: 100px;\">#{loading_tag}</td>')"
	    -%>
	<% end -%>
	<% if item.is_a? GalleryPhoto -%>
	  <%= photo_image_tag item.photo, 
	      :size => 'x130',
	      :id => "photo_#{gallery.id}_#{item.photo_id}",
	      :alt => index, # Used by context menu
	      :class => "assigned_photo draggable_photo gallery_#{gallery.id}_photo"-%>
	  <%= draggable_element "photo_#{gallery.id}_#{item.photo_id}",
	      :revert => draggable_revert_js,
	      :scroll => "'content_scrollframe'"
	      -%>
	<% else -%>
	  <div id="<%= "separator_#{item.id}" -%>"
	       class="separator <%= "gallery_#{gallery.id}_separator" -%>">
	    <span class="seprator_close_button">
	      <%= link_to_remote('x',
				 :update => "gallery_#{gallery.id}_photos_list",
				 :url => {:action => 'layout_remove_gallery_separator', 
				   :id => @site,
				   :gallery_id => gallery,
				   :separator_id => item},
				 :loading => "Element.update('gallery_#{gallery.id}_photos_list', '<td style=\"width: 100px;\">#{loading_tag}</td>')",
				 :html => {:class => 'separator_close_button'} )
		  -%>
	    </span>
	  </div>
	<% end -%>
	<div id="<%= "item_#{item.id}_droppable_right" -%>"
	     class="item_droppable_right"></div>
	<%= drop_receiving_element "item_#{item.id}_droppable_right",
	    :accept => 'draggable_photo',
	    :hoverclass => 'hover',
	    :scroll => "'content_scrollframe'",
	    :url => {:action => 'layout_add_gallery_photo', :id => @site, :gallery_id => gallery, :position => index + 1, :format => :js},
	    :with => "'photo_id=' + encodeURIComponent(element.id)",
	    :loading => "Element.update('gallery_#{gallery.id}_photos_list', 'a<td style=\"width: 100px;\">#{loading_tag}</td>')"
	    -%>
      </div>
    </td>
    <% index += 1 -%>
  <% end -%>

  <%= protomenu_tag "'.gallery_#{gallery.id}_photo'",
      :menuItems => [{ :name => "'Add separator before'",
		       :callback => remote_callback(
                         :update => "gallery_#{gallery.id}_photos_list",
                         :with => "'position=' + encodeURIComponent(element.alt)",
			 :url => {:action => 'layout_add_gallery_separator', 
		                  :id => @site,
                                  :gallery_id => gallery}),
		     },
		     { :name => "'Add separator after'",
		       :callback => remote_callback(
                         :update => "gallery_#{gallery.id}_photos_list",
                         :with => "'position=' + encodeURIComponent(parseInt(element.alt) + 1)",
			 :url => {:action => 'layout_add_gallery_separator', 
		                  :id => @site,
                                  :gallery_id => gallery}),
		     },
		     { :name => "'Show in new window'",
		       :callback => "function(event){window.open('#{admin_site_photos_path(@site)}/'+Event.element(event).id.split('_')[1]);}"
		     }],
      :className => "'menu'"
      -%>

<% end -%>
