<h2>Editing site</h2>

<% form_for(@site, :url => admin_site_path(@site)) do |f| %>
  <div class="record_fields">
    <%= f.error_messages %>
    
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>


    <% slots = @site.attachment_slots_with_empty -%>
    <% if slots.size > 0 -%>
      <h3>Attachments</h3>
      <% for slot in slots -%>
	<p>
	  <b><%= f.label "attachment_slots_#{slot.name}_attachment_id", slot.name.humanize -%></b><br />
	  <%= hidden_field_tag "site[attachment_slots][#{slot.name}][attachment_type]", "Photo" -%>
	  <%= select_tag("site[attachment_slots][#{slot.name}][attachment_id]",
			 options_for_select([['', nil]] + Photo.find(:all).map{|a| ["#{a.title} [#{a.file_name}]", a.id]},
					    slot.attachment && slot.attachment.id
					    )) -%>
	</p>
      <% end -%>
    <% end -%>


    <p>
      <%= f.submit "Update" %>
    </p>
  </div>
<% end %>

<hr />

<div class="page_actions">
  <%= link_to 'Back to site', admin_site_path(@site) %>
</div>
