<h2>Listing sites</h2>

<table class="listing">

  <thead>
    <tr>
      <th>Brand</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% for site in @sites %>
      <tr>
	<td><%=h site.brand %></td>
	<td><%=h site.name %></td>
	<td class="actions">
	  <%= link_to 'Show', admin_site_path(site) %> |
	  <%= link_to 'Photos', admin_site_photos_path(site) %> |
	  <%= link_to 'Galleries', admin_site_galleries_path(site) %> | 
	  <%= link_to 'Layout', layout_admin_site_path(site) %> |
	  <%= link_to 'Topics', admin_site_topics_path(site) %> |
	  <%= link_to 'Edit', edit_admin_site_path(site) %> |
	  <%= link_to 'Destroy', admin_site_path(site), :confirm => 'Are you sure?', :method => :delete %>
	</td>
      </tr>
    <% end %>
  </tbody>

</table>

<hr />

<div class="page_actions">
  <%= link_to 'New site', new_admin_site_path %> |
  <% if @current_user.has_role 'users_manager' -%>
      <%= link_to 'Manage accounts', admin_users_path %>
  <% end -%>    
</div>
