<h2>New site</h2>

<% form_for(@site, :url => admin_sites_url) do |f| %>
  <div class="record_fields">
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :parent_id, 'Parent' %><br />
      <%= f.select :parent_id, Site.find(:all, :order => "name").collect{|s| [s.name, s.id]}, :include_blank => true %>
    </p>
    <p>
      <%= f.submit "Create" %>
    </p>
  </div>
<% end %>

<hr />

<div class="page_actions">
  <%= link_to 'Back to sites list', admin_sites_path %>
</div>
