<h2>New site</h2>

<% form_for(@site, :url => admin_sites_url) do |f| %>
  <div class="record_fields">
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :brand %><br />
      <%= f.select :brand, Site.brands_selection %>
    </p>
    <p>
      <%= f.submit "Create" %>
    </p>
  </div>
<% end %>

<hr />

<div class="page_actions">
  <%= link_to 'Back to sites list', admin_sites_path %>
</div>
